body{
    height: 100vh;
    background: linear-gradient(135deg,#765476,#453214);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 400px;
    width: 100%;
    background-color: antiquewhite;
    padding: 10px 15px;
    border-radius: 10px;
}
.title{
    font-size: 28px;
    font-weight: 500;
    font-family:cursive;
    text-align: center; 
}
label{
    font-size: 20px;
}
.b{
    margin-left: 10px;
    margin-right: 10px;
}
.a{
    width: 330px;
    margin-top: 4px;
    padding: 10px 15px;
    font-size: 18px;
    /* border-radius: 12px; */
    outline: none;
    border: none;
    border-radius: 20px;
}
#c{
    width: 363px;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    border-radius: 20px;
}
#d{
font-size: 18px;
padding-left: 5px;
}
#f{
    margin-top: 7px;
}
#g{
    width: 360px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 10px 15px;
    border: none;
    background-color: #765476;
    /* border-radius: 50px; */
    font-size: 20px;
    color: #ffff;
}
img{
    width: 29px;
 } 
#login{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
#s{
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#social{
    margin: 15px 0px 0px 10px;
    text-align: center;
}
.m{
    padding-left: 17px;
}